*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
p{
    font-size: 15px;
    line-height: 1.6em;
    padding-bottom: 10px;
}
h1{
    line-height: 1.6em;
}
h2{
    line-height: 1.5em;
}
h3{
    line-height: 1.4em;
}
h4{
    line-height: 1.2em;
}
h5{
    line-height: 1.1em;
}
h6{
    line-height: 1em;
}
h1,h2,h3,h4,h5{
    font-size: 18px;
    text-transform: capitalize;
}
img{
    width: 100%;
    height: auto;
}
.search_heading{
    color: #1266d3;
}
iframe {
    margin: 8px 0px;
}
header{
    width: 100%;
    max-width: 100vw;
    .header_top{
        display: flex;
        justify-content: space-between;
        padding: 8px 25px;
        border-bottom: 1px solid #eee;
        nav{
            width: 100%;
            overflow: hidden;
            ul{
                display: flex;
                li{
                    padding-left: 5px;
                    list-style-type: none;
                    
                }
                li.current_page_item{
                    a{
                        color: #0071f1; 
                    }
                }
                li:hover{
                    a{
                        color: #0071f1;
                        transition: 0.3s ease-in;
                    }
                }
            }
        }
        .social_icon{
            ul{
                display: flex;
                li{
                    margin-left: 8px;
                    list-style-type: none;
                }
            }
        }
    }
    .Header_main_menu{
        padding: 2px 25px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #eee;
        .menu_wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo_menu_wrapper{
                display: flex;
                align-items: center;
                a.web_logoL{
                    width: 50px;
                    img{
                        width: 100%;
                        max-width: 100%;
                    }
                }
                nav.main_navigation{
                    width: 100%;
                    z-index: 100;
                    ul{ 
                        padding: 0px 10px;
                        display: flex;
                        li{
                            padding-left: 5px;
                            margin-left: 5px;
                            list-style-type: none;
                            a{
                                font-size: 20px;
                            }
                        }
                        li:hover{
                            a{
                                color: #0071f1;
                                transition: 0.3s ease-in;
                            }
                        }
                        li.current_page_item{
                            a{
                                color: #0071f1; 
                            }
                        }
                    }
                }
            }
        }
        .search_and_rs{
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 0.8em;
            position: relative;
            align-items: center;
            .icon_menu{
                display: none;
            }
            .search_aria{
                button{
                    position: absolute;
                    right: 16px;
                    line-height: 33px;
                    background-color: transparent;
                    border: transparent;
                }
                button[type="submit"]:focus {
                    background-color: transparent;
                    border: transparent;
                }
                button[type="submit"]:focus-within {
                background-color: transparent;
                border: transparent;
                }
                input{
                    height: 35px;
                    width: 180px;
                    padding-left: 2px;
                }
            }
        }
    }
}
/* web_slogan_wrapper */
.web_slogan_wrapper.header_slogan{
    width: 100%;
    max-width: 100vw;
    height: 300px;
    .web_slogan{
        padding: 8px 25px;
        color: #ffff;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .slogan_article{
            --bs-gutter-x: 1.5rem;
            --bs-gutter-y: 0;
            padding-right: calc(var(--bs-gutter-x) * .5);
            padding-left: calc(var(--bs-gutter-x) * .5);
            margin: 0 auto;
            color: white;
            max-width: 900px;
            p{
                font-size: 20px;
            }
        }
    }
}
.main_article_post{
    width: 100%;
    max-width: 100vw;  
    padding: 8px 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;
    .web_post_wrapper{
        grid-column: span 4;
        max-width: 100%;
        .web_post_inner{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 0.5em;
            .post_wrapper{
                width: 100%;
                max-width: 100%;
                overflow: hidden;
                border: 1px solid rgba(155,155,155,0.15);
                padding: 4px;
                border-radius: 1%;
                display: flex;
                flex-direction: column;
                figure{
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 2%;
                    }
                }
                .post_meta{
                    margin-top: 4px;
                    display: inline-block;
                    border-bottom: 1px solid #eee;
                    border-radius: 4%;
                    padding: 4px;
                    font-size: 14px;
                    .post_category:hover a{
                        color: #1266d3;
                    }
                }
                p{
                    .moretag{
                        color: #0071f0;
                    }
                }
                h1{
                    a{
                        text-transform: capitalize;
                    }
                }
                h1:hover a{
                    color: #1266d3;
                    transition: 0.4s ease-in;
                }
            }
            .post_wrapper.single_postWP{
                border-radius: 0%;
                -webkit-border-radius: 0%;
                -moz-border-radius: 0%;
                -ms-border-radius: 0%;
                -o-border-radius: 0%;
                border: transparent;
                figure img{
                    width: auto;
                    height: auto;
                }
                .related_post_wp{
                    width: 100%;
                    margin-top: 10px;
                    border-top: 1px solid rgb(155, 155, 155, 0.15);
                    .related-posts{
                        overflow-x: hidden;
                        padding: 8px 0px;
                        ul{
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                            grid-gap: 0.5em;
                            li{
                                width: 100%;
                                max-width: 100%;
                                overflow: hidden;
                                padding: 4px;
                                border-radius: 1%;
                                display: flex;
                                flex-direction: column;
                                border: 1px solid rgb(155, 155, 155, 0.15);
                                .post_meta{
                                    padding-left:0px;
                                    padding-right: 0px;
                                    border-bottom: 1px solid transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
        .pagination_section {
            width: 100%;
            background: #fff;
            margin-top: 0.5em;
            padding: 0px 8px;
            .pagination {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: flex-start;
                grid-gap: 0.4em;
                font-size: 15px;
                font-weight: bold;
                .current-page {
                    color: rgb(255, 255, 255);
                    background-color: #000;
                    padding: 0.4em;
                }
                .pagination-list {
                    display: flex;
                    align-items: center;
                    .pagination-item {
                        margin-right: 0.4em;
                        background-color: rgb(0, 0, 0);
                        padding: 0.4em;
                        list-style-type: none;
                        .inactive {
                            padding: 0em 0.4em;
                        }
                        a{
                            color: #fff;
                        }
                        .current-page{
                            color: #ff0000;
                        }
                    }
                }
            }
        }
    }
    aside{
        max-width: 100%;
        border-left: 1px solid rgba(155,155,155,0.15);
        .sider_bar{
            padding: 4px 8px;
            margin-bottom: 8px;
            background-color: #ffff;
            border-radius: 1%;
            h2,h3,h4{
                background-color: #474747;
                text-align: center;
                color: #fff;
                padding: 4px 0px;
            }
            ul{
                li{
                    line-height: 1.6em;
                    list-style-type: none;
                    a{
                        color: #000000;
                    }
                    a:hover{
                        color: #0e67d7;
                        transition: 0.4s ease-in;
                    }
                }
            }
        }
    }
}
footer{
    max-width: 100vw;  
    background-color: #474747;
    .footer_inner{
        padding: 8px 25px;
        padding-bottom: 0px;
        .footer_top_wrap{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            grid-gap: 1em;
            align-items: center;
            .footer_top{
                width: 100%;
                max-width: 100%;
                margin-bottom: 1rem;
                p{
                    color: #fff;
                    margin-top: 4px;
                }
                h2,h3{
                    display: inline-block;
                    color: #fff;
                    margin-bottom: 4px;
                    border-bottom: 1px solid #5c5d62;
                }
                ul{
                    li{
                        line-height: 120%;
                        list-style-type: none;
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
        .web_credit{
            border-top: 1px solid #5c5d62;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 8px 0px;
            p{
                text-transform: capitalize;
                color: #fff;
                .footer_credit{
                    color: #fff;
                    font-weight: bold;
                }
            }
            .footer_menu{
                display: flex;
                align-items: center;
                nav{
                    .menu{
                        display: flex;
                        justify-content: center;
                        li{
                            margin: 0px 8px;
                            list-style-type: none;
                            a{
                                font-size: 16px;
                                color: #fff;
                            }
                            a:hover{
                                color: #0071f1;
                                transition: 0.3s ease-in;
                            }
                        }
                        li.current_page_item{
                            a{
                                color: #0071f1; 
                            }
                        }
                    }
                }
            }
            .social_media{
                ul{
                    display: flex;
                    li{
                        margin-left: 8px;
                        list-style-type: none;
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 700px){
    footer .footer_inner .web_credit{
        display: block;
    }
}
@media screen and (max-width: 1363px) {
    .main_article_post{
        display: flex;
        flex-direction: column;
        padding-right: 10px;
        padding-left: 10px;
        aside{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            justify-content: space-between;
            border-left: transparent;
            .sider_bar{
                background-color: white;
                width: 100%;
                padding: 8px;
            }
        }
    }
}
@media screen and (max-width: 935px){
    header{
        .Header_main_menu{
            .menu_wrapper{
                position: relative;
                .logo_menu_wrapper{
                    nav.main_navigation{
                        position: absolute;
                        background-color: #fff;
                        top: 62px;
                        padding: 8px 0px;
                        ul{
                            flex-direction: column;
                            li{
                                margin: 3px 0px;
                            }
                        }
                    }
                }
            }
            .search_and_rs{
                .icon_menu{
                    display: block;
                    width: 10px;
                }
                .search_aria{
                    button{
                        right: 26px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .main_article_post{
        padding: 0%;
    }
    footer .footer_inner{
        padding: 0%;
    }
    .footer_top_wrap{
        padding: 10px;
    }
    .web_slogan_wrapper .web_slogan{
        padding: 8px;
    }
    p.comment-form-comment {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
      }
}
@media screen and (max-width: 810px){
    .main_article_post .web_post_wrapper .web_post_inner .post_wrapper{
        padding: 6px 10px;
    }
}
@media screen and (max-width: 450px){
    footer .footer_inner {
        padding: 8px 16px;
        .footer_top_wrap{
            display: flex;
            flex-direction: column;
        }
      }
      .main_article_post .web_post_wrapper .web_post_inner{
        display: flex;
        flex-direction: column;
      }
      .main_article_post aside{
        display: flex;
        flex-direction: column;
      }
      footer .footer_inner .web_credit .footer_menu nav .menu li{
        margin: 0px 8px 0px 0px;
      }
}
// Contact 7 style 
input[type="text"]{
    outline: none;
}
input[type="email"]{
    outline: none;
}
input[type=search]{
    outline: none;
    border: transparent;
    border-bottom: 1px solid #eee;
}
textarea{
    outline: none;
}
/* Example CSS for 404 page */
.error-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #000, #474747, #474747, #025177);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.error-content {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    .search-form {
        margin-bottom: 20px;
    }
}
.error-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.error-content p {
    font-size: 1.1em;
    margin-bottom: 15px;
}
.search-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.search-submit {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.search-submit:hover {
    background-color: #555;
}
.error-content a {
    color: #0073aa;
    text-decoration: underline;
}
// comment template 
.comments-area {
    margin-top: 10px;
}
.comments-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.comment-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.comment-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.comment-author {
    font-weight: bold;
    margin-bottom: 5px;
}
.comment-metadata {
    color: #888;
    font-size: 14px;
}
.comment-content {
    margin-top: 10px;
}
.comment-form {
    margin-top: 10px;
}
.comment-form input[type="text"],
.comment-form textarea {
    padding: 4px;
    margin-bottom: 15px;
}
.comment-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.comment-form input[type="submit"]:hover {
    background-color: #0056b3;
}
/* Comment List */
.commentlist {
    list-style: none;
    padding: 0;
    margin: 0;
}
.commentlist li {
    margin-bottom: 30px;
}
/* Comment Body */
.comment_cstm {
    margin-top: 20px;
    border-top: 1px solid #eee;
}
.comment-body {
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: inline-block;
}
.comment-body img.avatar {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
}
cite.fn {
    text-transform: capitalize;
}
span.says {
    margin-left: 9px;
}
.comment-author.vcard {
    display: flex;
    align-items: center;
}
ul.children {
    margin-left: 40px;
}
p.comment-form-comment {
    display: flex;
    margin-top: 10px;
}
// Full Template Design 
.main_article_post.full_page_template {
    padding: 0px 4px 8px 4px;
    // About Slogan Wrapper 
    .HWAbout_slogan_wrapper{
        height: 300px;
    }
    .HWAbout_slogan_wrapper,
    .About_slogan_wrapper {
        background: linear-gradient(45deg, #000, #474747, #474747, #025177);
        animation: gradientAnimation 15s ease infinite;
        background-size: 400% 400%;
        max-width: 100vw;
        position: relative;
        padding: 2rem 0rem;
        .aboutSlogan_inner {
            width: 100%;
            height: 100%;
            .about_slogan {
                width: 600px;
                height: 200px;
                background-color: #00000017;
                position: absolute;
                    top: 22%;
                    left: 50%;
                    bottom: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h2,p{
                        color: #fff;
                    }
              }
        }
    }
    .web_post_wrapper .web_post_inner .post_wrapper{
        padding: 0px;
        border-radius: 0%;
    }
    .box_wrapper{
        width: 60%;
        margin: 0 auto;
        margin-top: 20px;
        .wlc_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .content_position {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            p{
                text-align: center;
                i{
                    font-size: 50px;
                }
            }
          }
    }
}
@media screen and (max-width: 600px){
    .main_article_post.full_page_template .HWAbout_slogan_wrapper .aboutSlogan_inner .about_slogan,
    .main_article_post.full_page_template .About_slogan_wrapper .aboutSlogan_inner .about_slogan{
        width: 100%;
    }
}
@media screen and (max-width: 1500px){
    .main_article_post.full_page_template{
        .box_wrapper{
            width: 80%;
        }
    }
}
@media screen and (max-width: 900px){
    .main_article_post.full_page_template{
        .box_wrapper{
            width: 96%;
        }
    }
}
.Contact_o7 {
    width: 90%;
    margin: 0 auto;
    input[type="email"],
input[type="text"],
textarea{
    width: 100%;
    max-width: 100%;
}
  }
  @media screen and (max-width: 510px){
      .Contact_o7{
          width:100%;
      }
}
.has-text-align-center.contp {
    width: 700px;
    margin: 2em auto;
}
@media screen and (max-width: 650px){
    .has-text-align-center.contp{
        width:100%;
    }
    .web_slogan_wrapper.header_slogan .web_slogan .slogan_article p{
        font-size: 15px;
    }
}
.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{
    padding: 4px;
    margin-bottom: 1em;
}
.copy-the-code-wrap {
    display: inline-block;
    position: relative;
    background-color: #00008B;
}
.copy-the-code-wrap .copy-the-code-target {
    margin-top: 0;
    padding: 4px;
    color: #ffffff;
}
@media screen and (max-width: 600px){
   
    h2,h3,h4,h5,h6,h1{
        font-size: 16px;
    }
    footer .footer_inner .web_credit .footer_menu nav .menu li a,
    header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul li a,
    .main_article_post .web_post_wrapper .pagination_section .pagination{
        font-size: 15px;
    }
}