* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
  padding-bottom: 10px;
}

h1, h2, h3, h4, h5 {
  line-height: 180%;
}

h1, h2, h3, h4, h5 {
  font-size: 20px;
  text-transform: capitalize;
}

img {
  width: 100%;
  height: auto;
}

.search_heading {
  color: #1266d3;
}

iframe {
  margin: 8px 0px;
}

header {
  width: 100%;
  max-width: 100vw;
}
header .header_top {
  display: flex;
  justify-content: space-between;
  padding: 8px 25px;
  border-bottom: 1px solid #eee;
}
header .header_top nav {
  width: 100%;
  overflow: hidden;
}
header .header_top nav ul {
  display: flex;
}
header .header_top nav ul li {
  padding-left: 5px;
  list-style-type: none;
}
header .header_top nav ul li:hover a {
  color: #0071f1;
  transition: 0.3s ease-in;
}
header .header_top .social_icon ul {
  display: flex;
}
header .header_top .social_icon ul li {
  margin-left: 8px;
  list-style-type: none;
}
header .Header_main_menu {
  padding: 2px 25px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
header .Header_main_menu .menu_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .Header_main_menu .menu_wrapper .logo_menu_wrapper {
  display: flex;
  align-items: center;
}
header .Header_main_menu .menu_wrapper .logo_menu_wrapper a.web_logoL {
  width: 50px;
}
header .Header_main_menu .menu_wrapper .logo_menu_wrapper a.web_logoL img {
  width: 100%;
  max-width: 100%;
}
header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation {
  width: 100%;
  z-index: 100;
}
header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul {
  padding: 0px 10px;
  display: flex;
}
header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul li {
  padding-left: 5px;
  margin-left: 5px;
  list-style-type: none;
}
header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul li a {
  font-size: 20px;
}
header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul li:hover a {
  color: #0071f1;
  transition: 0.3s ease-in;
}
header .Header_main_menu .search_and_rs {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.8em;
  position: relative;
  align-items: center;
}
header .Header_main_menu .search_and_rs .icon_menu {
  display: none;
}
header .Header_main_menu .search_and_rs .search_aria button {
  position: absolute;
  right: 16px;
  line-height: 33px;
  background-color: transparent;
  border: transparent;
}
header .Header_main_menu .search_and_rs .search_aria button[type=submit]:focus {
  background-color: transparent;
  border: transparent;
}
header .Header_main_menu .search_and_rs .search_aria button[type=submit]:focus-within {
  background-color: transparent;
  border: transparent;
}
header .Header_main_menu .search_and_rs .search_aria input {
  height: 35px;
  width: 180px;
}

/* web_slogan_wrapper */
.web_slogan_wrapper.header_slogan {
  width: 100%;
  max-width: 100vw;
  height: 300px;
}
.web_slogan_wrapper.header_slogan .web_slogan {
  padding: 8px 25px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.web_slogan_wrapper.header_slogan .web_slogan .slogan_article {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin: 0 auto;
  color: white;
  max-width: 900px;
}

.main_article_post {
  width: 100%;
  max-width: 100vw;
  padding: 8px 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  background-color: #f3f1f1;
}
.main_article_post .web_post_wrapper {
  grid-column: span 4;
  max-width: 100%;
}
.main_article_post .web_post_wrapper .web_post_inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5em;
}
.main_article_post .web_post_wrapper .web_post_inner .post_wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: white;
  padding: 4px;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
}
.main_article_post .web_post_wrapper .web_post_inner .post_wrapper figure img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}
.main_article_post .web_post_wrapper .web_post_inner .post_wrapper .post_meta {
  margin-top: 4px;
  display: inline-block;
  border-bottom: 1px solid #eee;
  border-radius: 4%;
  padding: 4px;
  font-size: 14px;
}
.main_article_post .web_post_wrapper .web_post_inner .post_wrapper .post_meta .post_category:hover a {
  color: #1266d3;
}
.main_article_post .web_post_wrapper .web_post_inner .post_wrapper p .moretag {
  color: #0071f0;
}
.main_article_post .web_post_wrapper .web_post_inner .post_wrapper h1 a {
  text-transform: capitalize;
}
.main_article_post .web_post_wrapper .web_post_inner .post_wrapper h1:hover a {
  color: #1266d3;
  transition: 0.4s ease-in;
}
.main_article_post .web_post_wrapper .pagination_section {
  width: 100%;
  background: #fff;
  margin-top: 0.5em;
  padding: 0px 8px;
}
.main_article_post .web_post_wrapper .pagination_section .pagination {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  grid-gap: 0.4em;
  font-size: 21px;
  font-weight: bold;
}
.main_article_post .web_post_wrapper .pagination_section .pagination .current-page {
  color: rgb(255, 255, 255);
  background-color: #000;
  padding: 0.4em;
}
.main_article_post .web_post_wrapper .pagination_section .pagination .pagination-list {
  display: flex;
  align-items: center;
}
.main_article_post .web_post_wrapper .pagination_section .pagination .pagination-list .pagination-item {
  margin-right: 0.4em;
  background-color: rgb(0, 0, 0);
  padding: 0.4em;
}
.main_article_post .web_post_wrapper .pagination_section .pagination .pagination-list .pagination-item .inactive {
  padding: 0em 0.4em;
}
.main_article_post .web_post_wrapper .pagination_section .pagination .pagination-list .pagination-item a {
  color: #fff;
}
.main_article_post .web_post_wrapper .pagination_section .pagination .pagination-list .pagination-item .current-page {
  color: #ff0000;
}
.main_article_post aside {
  background-color: #f3f1f1;
  max-width: 100%;
}
.main_article_post aside .sider_bar {
  padding: 4px 8px;
  margin-bottom: 8px;
  background-color: white;
  border-radius: 1%;
}
.main_article_post aside .sider_bar h2, .main_article_post aside .sider_bar h3, .main_article_post aside .sider_bar h4 {
  background-color: #474747;
  text-align: center;
  color: #fff;
  padding: 4px 0px;
}
.main_article_post aside .sider_bar ul li {
  line-height: 150%;
  list-style-type: none;
}
.main_article_post aside .sider_bar ul li a {
  color: #000000;
}
.main_article_post aside .sider_bar ul li a:hover {
  color: #0e67d7;
  transition: 0.4s ease-in;
}

footer {
  max-width: 100vw;
  background-color: #474747;
}
footer .footer_inner {
  padding: 8px 25px;
  padding-bottom: 0px;
}
footer .footer_inner .footer_top_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1em;
  align-items: center;
}
footer .footer_inner .footer_top_wrap .footer_top {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
footer .footer_inner .footer_top_wrap .footer_top p {
  color: #fff;
  margin-top: 4px;
}
footer .footer_inner .footer_top_wrap .footer_top h2, footer .footer_inner .footer_top_wrap .footer_top h3 {
  display: inline-block;
  color: #fff;
  margin-bottom: 4px;
  border-bottom: 1px solid #5c5d62;
}
footer .footer_inner .footer_top_wrap .footer_top ul li {
  line-height: 120%;
  list-style-type: none;
}
footer .footer_inner .footer_top_wrap .footer_top ul li a {
  color: #fff;
}
footer .footer_inner .web_credit {
  border-top: 1px solid #5c5d62;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}
footer .footer_inner .web_credit p {
  text-transform: capitalize;
  color: #fff;
}
footer .footer_inner .web_credit p .footer_credit {
  color: #fff;
  font-weight: bold;
}
footer .footer_inner .web_credit .footer_menu {
  display: flex;
  align-items: center;
}
footer .footer_inner .web_credit .footer_menu nav .menu {
  display: flex;
  justify-content: center;
}
footer .footer_inner .web_credit .footer_menu nav .menu li {
  margin: 0px 8px;
  list-style-type: none;
}
footer .footer_inner .web_credit .footer_menu nav .menu li a {
  font-size: 16px;
  color: #fff;
}
footer .footer_inner .web_credit .footer_menu nav .menu li a:hover {
  color: #0071f1;
  transition: 0.3s ease-in;
}
footer .footer_inner .web_credit .social_media ul {
  display: flex;
}
footer .footer_inner .web_credit .social_media ul li {
  margin-left: 8px;
  list-style-type: none;
}
footer .footer_inner .web_credit .social_media ul li a {
  color: #fff;
}

@media screen and (max-width: 700px) {
  footer .footer_inner .web_credit {
    display: block;
  }
}
@media screen and (max-width: 1363px) {
  .main_article_post {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
  }
  .main_article_post aside {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
  }
  .main_article_post aside .sider_bar {
    background-color: white;
    width: 100%;
    border-left: 1px solid #ddd;
    padding: 8px;
  }
}
@media screen and (max-width: 935px) {
  header .Header_main_menu .menu_wrapper {
    position: relative;
  }
  header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation {
    position: absolute;
    background-color: #fff;
    top: 62px;
    padding: 8px 0px;
  }
  header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul {
    flex-direction: column;
  }
  header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul li {
    margin: 3px 0px;
  }
  header .Header_main_menu .search_and_rs .icon_menu {
    display: block;
    width: 10px;
  }
  header .Header_main_menu .search_and_rs .search_aria button {
    right: 26px;
  }
}
@media screen and (max-width: 600px) {
  .main_article_post {
    padding: 0%;
  }
  footer .footer_inner {
    padding: 0%;
  }
  .footer_top_wrap {
    padding: 10px;
  }
  .web_slogan_wrapper .web_slogan {
    padding: 8px;
  }
  p.comment-form-comment {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  footer .footer_inner {
    padding: 8px 16px;
  }
  footer .footer_inner .footer_top_wrap {
    display: flex;
    flex-direction: column;
  }
  .main_article_post .web_post_wrapper .web_post_inner {
    display: flex;
    flex-direction: column;
  }
  .main_article_post aside {
    display: flex;
    flex-direction: column;
  }
  footer .footer_inner .web_credit .footer_menu nav .menu li {
    margin: 0px 8px 0px 0px;
  }
}
input[type=text] {
  outline: none;
}

input[type=email] {
  outline: none;
}

input[type=search] {
  outline: none;
  border: transparent;
  border-bottom: 1px solid #eee;
}

textarea {
  outline: none;
}

/* Example CSS for 404 page */
.error-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #000, #474747, #474747, #025177);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.error-content {
  text-align: center;
  max-width: 600px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.error-content .search-form {
  margin-bottom: 20px;
}

.error-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.error-content p {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.search-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-submit {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-submit:hover {
  background-color: #555;
}

.error-content a {
  color: #0073aa;
  text-decoration: underline;
}

.comments-area {
  margin-top: 10px;
}

.comments-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-metadata {
  color: #888;
  font-size: 14px;
}

.comment-content {
  margin-top: 10px;
}

.comment-form {
  margin-top: 10px;
}

.comment-form input[type=text],
.comment-form textarea {
  padding: 10px;
  margin-bottom: 15px;
}

.comment-form input[type=submit] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.comment-form input[type=submit]:hover {
  background-color: #0056b3;
}

/* Comment List */
.commentlist {
  list-style: none;
  padding: 0;
  margin: 0;
}

.commentlist li {
  margin-bottom: 30px;
}

/* Comment Body */
.comment_cstm {
  margin-top: 20px;
  border-top: 1px solid #eee;
}

.comment-body {
  border-bottom: 1px solid #eee;
  padding: 10px;
  display: inline-block;
}

.comment-body img.avatar {
  border-radius: 50%;
  margin-right: 10px;
  width: 40px;
}

cite.fn {
  text-transform: capitalize;
}

span.says {
  margin-left: 9px;
}

.comment-author.vcard {
  display: flex;
  align-items: center;
}

ul.children {
  margin-left: 40px;
}

p.comment-form-comment {
  display: flex;
  margin-top: 10px;
}

.main_article_post.full_page_template {
  padding: 0px 4px 8px 4px;
}
.main_article_post.full_page_template .HWAbout_slogan_wrapper {
  height: 300px;
}
.main_article_post.full_page_template .HWAbout_slogan_wrapper,
.main_article_post.full_page_template .About_slogan_wrapper {
  background: linear-gradient(45deg, #000, #474747, #474747, #025177);
  animation: gradientAnimation 15s ease infinite;
  background-size: 400% 400%;
  max-width: 100vw;
  position: relative;
  padding: 2rem 0rem;
}
.main_article_post.full_page_template .HWAbout_slogan_wrapper .aboutSlogan_inner,
.main_article_post.full_page_template .About_slogan_wrapper .aboutSlogan_inner {
  width: 100%;
  height: 100%;
}
.main_article_post.full_page_template .HWAbout_slogan_wrapper .aboutSlogan_inner .about_slogan,
.main_article_post.full_page_template .About_slogan_wrapper .aboutSlogan_inner .about_slogan {
  width: 600px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.0901960784);
  position: absolute;
  top: 22%;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_article_post.full_page_template .HWAbout_slogan_wrapper .aboutSlogan_inner .about_slogan h2, .main_article_post.full_page_template .HWAbout_slogan_wrapper .aboutSlogan_inner .about_slogan p,
.main_article_post.full_page_template .About_slogan_wrapper .aboutSlogan_inner .about_slogan h2,
.main_article_post.full_page_template .About_slogan_wrapper .aboutSlogan_inner .about_slogan p {
  color: #fff;
}
.main_article_post.full_page_template .web_post_wrapper .web_post_inner .post_wrapper {
  padding: 0px;
  border-radius: 0%;
}
.main_article_post.full_page_template .box_wrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}
.main_article_post.full_page_template .box_wrapper .wlc_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_article_post.full_page_template .box_wrapper .content_position {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.main_article_post.full_page_template .box_wrapper .content_position p {
  text-align: center;
}
.main_article_post.full_page_template .box_wrapper .content_position p i {
  font-size: 50px;
}

@media screen and (max-width: 600px) {
  .main_article_post.full_page_template .HWAbout_slogan_wrapper .aboutSlogan_inner .about_slogan,
  .main_article_post.full_page_template .About_slogan_wrapper .aboutSlogan_inner .about_slogan {
    width: 100%;
  }
}
@media screen and (max-width: 1500px) {
  .main_article_post.full_page_template .box_wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .main_article_post.full_page_template .box_wrapper {
    width: 96%;
  }
}
/* input[type="email"],
input[type="text"],
textarea{
    width: 100%;
    max-width: 100%;
} */
.Contact_o7 {
  width: 90%;
  margin: 0 auto;
}
.Contact_o7 input[type=email],
.Contact_o7 input[type=text],
.Contact_o7 textarea {
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 510px) {
  .Contact_o7 {
    width: 100%;
  }
}
.has-text-align-center.contp {
  width: 700px;
  margin: 2em auto;
}

@media screen and (max-width: 650px) {
  .has-text-align-center.contp {
    width: 100%;
  }
}
.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  padding: 4px;
  margin-bottom: 1em;
}

.copy-the-code-wrap {
  display: inline-block;
  position: relative;
  background-color: #00008B;
}

.copy-the-code-wrap .copy-the-code-target {
  margin-top: 0;
  padding: 4px;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  a {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
  h2, h3, h4, h5, h6, h1 {
    font-size: 16px;
  }
  footer .footer_inner .web_credit .footer_menu nav .menu li a,
  header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul li a,
  .main_article_post .web_post_wrapper .pagination_section .pagination {
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */