@media screen and (max-width: 1500px) {
  .main_article_post.full_page_template .box_wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 980px) {
  .main_article_post {
    grid-template-columns: 1fr;
  }
  .main_article_post aside {
    max-width: 100%;
  }
}
@media screen and (max-width: 935px) {
  header .Header_main_menu {
    position: relative;
  }
  header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation {
    position: absolute;
    background-color: #fff;
    top: 57px;
    padding: 8px 0px;
    left: 0;
  }
  header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul {
    flex-direction: column;
  }
  header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul li {
    margin: 3px 0px;
  }
  header .Header_main_menu .search_and_rs .icon_menu {
    display: block;
    font-size: 20px;
  }
  header .Header_main_menu .search_and_rs .search_aria button {
    right: 26px;
  }
}
@media screen and (max-width: 900px) {
  .main_article_post.full_page_template .box_wrapper {
    width: 96%;
  }
}
@media screen and (max-width: 700px) {
  footer .footer_inner .web_credit {
    display: block;
  }
}
@media screen and (max-width: 680px) {
  .main_article_post .web_post_wrapper .web_post_inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(228px, 1fr));
    grid-gap: 0.5em;
  }
  .main_article_post .web_post_wrapper .web_post_inner .post_wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 0;
  }
  .main_article_post .web_post_wrapper .web_post_inner .post_wrapper figure {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .main_article_post .web_post_wrapper .web_post_inner .post_wrapper figure a img {
    max-width: 100%;
    width: 100vw;
    height: auto;
  }
}
@media screen and (max-width: 650px) {
  .has-text-align-center.contp {
    width: 100%;
  }
  .web_slogan_wrapper.header_slogan .web_slogan .slogan_article p {
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  h2, h3, h4, h5, h6, h1 {
    font-size: 16px;
  }
  footer .footer_inner .web_credit .footer_menu nav .menu li a,
  header .Header_main_menu .menu_wrapper .logo_menu_wrapper nav.main_navigation ul li a,
  .main_article_post .web_post_wrapper .pagination_section .pagination {
    font-size: 15px;
  }
  .main_article_post.full_page_template .HWAbout_slogan_wrapper .aboutSlogan_inner .about_slogan,
  .main_article_post.full_page_template .About_slogan_wrapper .aboutSlogan_inner .about_slogan {
    width: 100%;
  }
}
@media screen and (max-width: 510px) {
  .Contact_o7 {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  header .Header_main_menu {
    position: relative;
  }
  header .Header_main_menu .search_and_rs .search-form .search_aria {
    display: none;
    position: absolute;
    left: -25px;
    right: 0px;
    top: 57px;
    width: 100vw;
  }
  header .Header_main_menu .search_and_rs .search-form .search_aria .wp-rs {
    display: flex;
    background-color: #f5f5f5;
    width: 100%;
    padding: 4px 6px;
  }
  header .Header_main_menu .search_and_rs .search-form .search_aria input {
    max-width: 100%;
    width: 100%;
  }
  header .Header_main_menu .search_and_rs .search-form .search_aria input[type=search]:focus {
    width: 100%;
  }
  footer .footer_inner {
    padding: 8px 16px;
  }
  footer .footer_inner .footer_top_wrap {
    display: flex;
    flex-direction: column;
  }
  footer .footer_inner .web_credit .footer_menu nav .menu li {
    margin: 0px 8px 0px 0px;
  }
}/*# sourceMappingURL=res-mobile.css.map */